<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="user">
      <div class="form-group" >
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid' : form.get('user.email').invalid && form.get('user.email').touched }">
        <p class="invalid-feedback"
           *ngIf="form.get('user.email').invalid && form.get('user.email').touched"
        >
          <span *ngIf="form.get('user.email').errors['email']">Email is invalid!</span>
          <span *ngIf="form.get('user.email').errors['emailIsUsed']">Email is used!</span>
        </p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="pass" [ngClass]="{ 'is-invalid' : form.get('user.pass').invalid && form.get('user.pass').touched }">
        <p class="invalid-feedback"
           *ngIf="form.get('user.pass').invalid && form.get('user.pass').touched"
        >
          <span *ngIf="form.get('user.pass').errors['required']">Password can't to be blank!</span>
          <span *ngIf="form.get('user.pass').errors['lengthError']">Password can't to be less {{ charsCount }} symbols!</span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Choose country</label>
      <select class="form-control" formControlName="country">
        <option value="ru">Russia</option>
        <option value="by">Belorussia</option>
        <option value="ua">Ukraine</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input
          type="radio"
          name="answer"
          [value]="ans.type"
          formControlName="answer"
        > {{ ans.text }}
      </label>
    </div>
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="form.invalid"
    >Save</button>
  </form>
</div>


